.header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.header img{
    width: 100px;
    margin-right: 0;
}

.header .voltar{
   font-size: 1.2rem;
   padding: 10px;
   cursor: pointer;
}