.container{
    display: flex;
    height: 100vh;
    padding-top: 150px;
}

.carrinhoContainer{
    width: 75%;
    padding: 20px;
}

.finalizarContainer{
    width: 25%;
    padding-top: 20px;
    padding-right: 20px;
}

.pedidosDoCarrinho{
    height: 100%;
    background-color: white;
    padding-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 20px;
}

.pedidosDoCarrinho h1{
    margin-left: 20px;
    margin-bottom: 10px;
}

.categorias{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #E2E2E2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pedidos{
    overflow-y: auto;  /* Apenas scroll vertical */
    overflow-x: hidden; /* Remove scroll horizontal */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #6B804C #E2E2E2; /* Firefox */
    
    /* Chrome, Edge e Safari */
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: #E2E2E2;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #6B804C;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #556B3C;
    }
}

.finalizarPedido{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.btnFinalizar{
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.itemsDesconto{
    padding: 20px;
}

.itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.desconto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total{
    background-color: #E2E2E2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}